@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Staatliches&display=swap');* {
    margin: 0;
    padding: 0;
}

.header {
    background-image: url(images/TRopaWallpaper.png);
    background-position: center top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.header img {
    width: 100px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    padding: 24px 0;
    border-bottom: 1px solid white;

}
.nav-links {
    display: flex;
    gap: 100px;
    font-family: 'Cabin', sans-serif;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}
.nav-links a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgba(0, 128, 0, 0);
    padding: 7px;
}
.nav-links a:hover {
    background-color: #3d3d3d54;
    border: 1px solid rgb(0, 128, 0);
    transition: all .2s ease;
    
}

.news {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    min-height: 40vh;
    font-family: 'Cabin', sans-serif;
    
}
.news h1 {
    font-family: 'Staatliches', cursive;
    margin-top: 20px;
    font-size: 45px;
}
.news h2 {
    margin-top:20px ;
    font-size: 20px;
}

.images-galery {
    margin: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    

}
.images-galery img{
    width: 400px;
    height: 400px;
}

.footer {
    padding: 0px 10%;
    padding-top: 30px;
    background-color: #1b1b1b;
    color: aliceblue;
    font-family: 'Cabin', sans-serif;

}
.footer p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.26);
}
.footer img {
    width: 100px;
}
.redes-sociais {
    display: flex;
    gap: 20px;
}
.redes-sociais img{
    width: 20px;
}
.redes-sociais a{
    text-decoration: none;
}
.redes-sociais i{
    text-decoration: none;
    color: white;
    font-size: 20px;
}