@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Staatliches&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #001329;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 28px;
}
.header img {
    width: 200px;
    margin-bottom: 50px;
}
h1 {
    font-family: 'Cabin', sans-serif;
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form {
    background-color: #000f22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto auto;
    text-align: center;
    gap: 20px;
    width: 350px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.92); 
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.92);
    border-radius: 0.5rem;
}

form input {
    color: white;
    min-width: 80%;
    border-radius: 0.8rem;
    min-height: 40px;
    background: none;
    border: 1px solid white;
    padding:0 1.25rem;
    font-size: inherit;
    font-family: 'Cabin', sans-serif;

}
input:hover {
    border-color: rgb(159, 255, 191);
}
input:focus {
    border-color: rgb(0, 172, 57);
}

.email_label{
    position: absolute;
}

.container label {
    font-family: 'Cabin', sans-serif;
    position: fixed;
    color: white;
    left: 41.5%;
    background-color: #000f22;
    margin-left: 20px;
    padding: 0 1px;
    transition: .4s;
}
.nome_label {
    top: 19.9rem;
}
.sobrenome_label {
    top: 23.8rem;
}
.email_label {
    top: 27.6rem;
}

#input_nome:focus ~ .nome_label, #input_nome:valid ~ .nome_label {
    /*top: 23rem;*/
    transform: translateY(-22px);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}
#input_sobrenome:focus ~ .sobrenome_label, #input_sobrenome:valid ~ .sobrenome_label {
    /*top: 23rem;*/
    transform: translateY(-22px);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}
#input_email:focus ~ .email_label, #input_email:valid ~ .email_label{ 
    /*top: 23rem;*/
    transform: translateY(-22px);
    font-size: 0.8rem;
    letter-spacing: 0.1em;
}
